* {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

div {
	display: block;
}
	.header {
		width: 100%;
		height: 20px;
	}

	.menu {
		width: 100%;
		height: 530px;
		background-color: #2b2d32;
		margin-top: 60px;
	}

		.container1 {
			width: 70%;
			min-height: 100px;
			margin: -150px auto;
		}

		.container1 > div {
			float: left;
			min-height: 100px;
			margin: 5px;
		}

			.c1-left {
				width: calc(20% - 10px);
				/*background-color: silver;*/
			}

				.c1-left-sub {
					height: 235px;
					float: none;
					background-color: #A09F9F;
					margin: 5px auto;
				}

			.c1-center {
				width: calc(50% - 10px);
				/*background-color: silver;*/
			}

				.c1-center-sub-main {
					height: 600px;
					background-color: #A09F9F;
					float: none;
					margin: 5px auto;
				}

				.c1-center-sub {
					width: 320px;
					height: 345px;
					background-color: #A09F9F;
					float: left;
					margin: 5px auto;
				}
				
				.c1-center-sub-1 {
					width: 320px;
					height: 345px;
					background-color: #A09F9F;
					float: right;
					margin: 5px auto;
				}

			.c1-right {
				width: calc(30% - 10px);
				/*background-color: silver;*/
			}

				.c1-right-sub {
					height: 315px;
					float: none;
					background-color: #A09F9F;
					margin: 5px auto;
				}

		.container2 {
			width: 70%;
			min-height: 100%;
			margin: 200px auto;
		}

		.container2 > div {
			float: left;
			min-height: 100px;
			margin: 5px;
		}

			.c2-left {
				width: calc(80% - 10px);
				/*background-color: silver;*/
			}

			.c2-left-main {
				height: 700px;
				background-color: #A09F9F;
				float: none;
				margin: 5px auto;
			}

			.c2 {
				height: 400px;
				background-color: #A09F9F;
				margin: 10px auto;
			}

			.c2-left-button {
				height: 80px;
				background-color: #A09F9F;
				margin: 40px auto;
			}

			.c2-right-add {
				width: calc(20% - 10px);
				background-color: #A09F9F;
				height: 200px;
				margin: 5px auto;
				box-sizing: border-box;
			}